name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
#     # 'sudo' was not transformed because there is no suitable equivalent in GitHub Actions
    - run: pip install -U tox
    - run: tox
    strategy:
      matrix:
        TOXENV:
        - pep8
        - py3
    env:
      TOXENV: "${{ matrix.TOXENV }}"