name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      IPYTHON_VERSION: "'7.9'"
      PANDAS_VERSION: "'0.24.2'"
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: '3.9'
    - run: pip install IPython==$IPYTHON_VERSION
    - run: pip install pandas==$PANDAS_VERSION
    - run: pip install .[test]
    - run: python -c 'import pytorch_memlab'
    - run: pytest test/test_mem_reporter.py
#     # This item has no matching transformer
#     - pypi:
#         provider: pypi
#         user: yoursky
#         'on':
#           tags: true
#           python: 3.9
#         password:
#           secure: P0hSqy9eGKVG/0Cu8yE1+I+V0gIUbc+B7srJTsyJPC4+COv7BqIrt1NG+3+vWdocJLuYiTbf3zpUBozdvHH0XDV8Ki0rjsQOm607Fe+d30JCaL3sXLJOe8qwbizx9nmTS04AORc7nyzn4Tc3H10zDfwxL5uk73H6mwaoMlh2v2sizB8G6Ce4kH9JXWarKahKPPSdt2u0o533Bm5/rfNzxLifGmG7o2OYIXmUbeC54f4nhBCihtc+sjKR54qfopH/Gnpl1fnFK2Q5aMOM2yUj7mrjNLgDeAECigKGZpn/uuYyy/dSJKvPFoHFP52HS6x+9/aVUUgwEhqyYZ3tFJgkyeLPVnuP5Pv7wQyZXbIBchPwljswgjxI/+8ANRM6WMUhBbnOUQPPd/6AmW6xdaJf2l0461jGqhxAUGRKpn/odFIEly3TcizIzHjkOqPbS4xkKgN7s40ai8ZFLIUXmbqa7r/dScdu7qjvRYIn+obTCIq0lR3gTZLNfHHBCYFOcLD0anlDakONaiY4++xzDw88ancLQhN5L5rsQge4QNdZS8s88gbPtei+3DfnGsUnYWWplAHdxJ+A8/CrtBrtM18E3mOuwSdKbCwd54YmL9E+KcRcL/WRpedWjNybiBCDvRoO0iw3+2EnkrTLpsuTtiXAu+oe2h1XoMyYbeVjaVVsN44=
#       if: "${{ github.event_name == 'push' && ${{ github.ref }} }}"
  test_2:
    runs-on: ubuntu-latest
    env:
      IPYTHON_VERSION: "'7'"
      PANDAS_VERSION: "'1'"
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: '3.9'
    - run: pip install IPython==$IPYTHON_VERSION
    - run: pip install pandas==$PANDAS_VERSION
    - run: pip install .[test]
    - run: python -c 'import pytorch_memlab'
    - run: pytest test/test_mem_reporter.py
#     # This item has no matching transformer
#     - pypi:
#         provider: pypi
#         user: yoursky
#         'on':
#           tags: true
#           python: 3.9
#         password:
#           secure: P0hSqy9eGKVG/0Cu8yE1+I+V0gIUbc+B7srJTsyJPC4+COv7BqIrt1NG+3+vWdocJLuYiTbf3zpUBozdvHH0XDV8Ki0rjsQOm607Fe+d30JCaL3sXLJOe8qwbizx9nmTS04AORc7nyzn4Tc3H10zDfwxL5uk73H6mwaoMlh2v2sizB8G6Ce4kH9JXWarKahKPPSdt2u0o533Bm5/rfNzxLifGmG7o2OYIXmUbeC54f4nhBCihtc+sjKR54qfopH/Gnpl1fnFK2Q5aMOM2yUj7mrjNLgDeAECigKGZpn/uuYyy/dSJKvPFoHFP52HS6x+9/aVUUgwEhqyYZ3tFJgkyeLPVnuP5Pv7wQyZXbIBchPwljswgjxI/+8ANRM6WMUhBbnOUQPPd/6AmW6xdaJf2l0461jGqhxAUGRKpn/odFIEly3TcizIzHjkOqPbS4xkKgN7s40ai8ZFLIUXmbqa7r/dScdu7qjvRYIn+obTCIq0lR3gTZLNfHHBCYFOcLD0anlDakONaiY4++xzDw88ancLQhN5L5rsQge4QNdZS8s88gbPtei+3DfnGsUnYWWplAHdxJ+A8/CrtBrtM18E3mOuwSdKbCwd54YmL9E+KcRcL/WRpedWjNybiBCDvRoO0iw3+2EnkrTLpsuTtiXAu+oe2h1XoMyYbeVjaVVsN44=
#       if: "${{ github.event_name == 'push' && ${{ github.ref }} }}"
  test_3:
    runs-on: ubuntu-latest
    env:
      IPYTHON_VERSION: "'7'"
      PANDAS_VERSION: "'1'"
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: '3.9'
    - run: pip install IPython==$IPYTHON_VERSION
    - run: pip install pandas==$PANDAS_VERSION
    - run: pip install .[test]
    - run: python -c 'import pytorch_memlab'
    - run: pytest test/test_mem_reporter.py
#     # This item has no matching transformer
#     - pypi:
#         provider: pypi
#         user: yoursky
#         'on':
#           tags: true
#           python: 3.9
#         password:
#           secure: P0hSqy9eGKVG/0Cu8yE1+I+V0gIUbc+B7srJTsyJPC4+COv7BqIrt1NG+3+vWdocJLuYiTbf3zpUBozdvHH0XDV8Ki0rjsQOm607Fe+d30JCaL3sXLJOe8qwbizx9nmTS04AORc7nyzn4Tc3H10zDfwxL5uk73H6mwaoMlh2v2sizB8G6Ce4kH9JXWarKahKPPSdt2u0o533Bm5/rfNzxLifGmG7o2OYIXmUbeC54f4nhBCihtc+sjKR54qfopH/Gnpl1fnFK2Q5aMOM2yUj7mrjNLgDeAECigKGZpn/uuYyy/dSJKvPFoHFP52HS6x+9/aVUUgwEhqyYZ3tFJgkyeLPVnuP5Pv7wQyZXbIBchPwljswgjxI/+8ANRM6WMUhBbnOUQPPd/6AmW6xdaJf2l0461jGqhxAUGRKpn/odFIEly3TcizIzHjkOqPbS4xkKgN7s40ai8ZFLIUXmbqa7r/dScdu7qjvRYIn+obTCIq0lR3gTZLNfHHBCYFOcLD0anlDakONaiY4++xzDw88ancLQhN5L5rsQge4QNdZS8s88gbPtei+3DfnGsUnYWWplAHdxJ+A8/CrtBrtM18E3mOuwSdKbCwd54YmL9E+KcRcL/WRpedWjNybiBCDvRoO0iw3+2EnkrTLpsuTtiXAu+oe2h1XoMyYbeVjaVVsN44=
#       if: "${{ github.event_name == 'push' && ${{ github.ref }} }}"
  test_4:
    runs-on: ubuntu-latest
    env:
      IPYTHON_VERSION: "'7'"
      PANDAS_VERSION: "'1'"
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: '3.9'
    - run: pip install IPython==$IPYTHON_VERSION
    - run: pip install pandas==$PANDAS_VERSION
    - run: pip install .[test]
    - run: python -c 'import pytorch_memlab'
    - run: pytest test/test_mem_reporter.py
#     # This item has no matching transformer
#     - pypi:
#         provider: pypi
#         user: yoursky
#         'on':
#           tags: true
#           python: 3.9
#         password:
#           secure: P0hSqy9eGKVG/0Cu8yE1+I+V0gIUbc+B7srJTsyJPC4+COv7BqIrt1NG+3+vWdocJLuYiTbf3zpUBozdvHH0XDV8Ki0rjsQOm607Fe+d30JCaL3sXLJOe8qwbizx9nmTS04AORc7nyzn4Tc3H10zDfwxL5uk73H6mwaoMlh2v2sizB8G6Ce4kH9JXWarKahKPPSdt2u0o533Bm5/rfNzxLifGmG7o2OYIXmUbeC54f4nhBCihtc+sjKR54qfopH/Gnpl1fnFK2Q5aMOM2yUj7mrjNLgDeAECigKGZpn/uuYyy/dSJKvPFoHFP52HS6x+9/aVUUgwEhqyYZ3tFJgkyeLPVnuP5Pv7wQyZXbIBchPwljswgjxI/+8ANRM6WMUhBbnOUQPPd/6AmW6xdaJf2l0461jGqhxAUGRKpn/odFIEly3TcizIzHjkOqPbS4xkKgN7s40ai8ZFLIUXmbqa7r/dScdu7qjvRYIn+obTCIq0lR3gTZLNfHHBCYFOcLD0anlDakONaiY4++xzDw88ancLQhN5L5rsQge4QNdZS8s88gbPtei+3DfnGsUnYWWplAHdxJ+A8/CrtBrtM18E3mOuwSdKbCwd54YmL9E+KcRcL/WRpedWjNybiBCDvRoO0iw3+2EnkrTLpsuTtiXAu+oe2h1XoMyYbeVjaVVsN44=
#       if: "${{ github.event_name == 'push' && ${{ github.ref }} }}"