name: Tufuwu/test2
on:
  push:
    branches:
    - "**/*"
  pull_request:
#   # This item has no matching transformer
#   maximum_number_of_builds: 0
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4.1.0
    - uses: actions/setup-python@v5.0.0
      with:
        python-version: "${{ matrix.python }}"
    - run: pip install -r requirements.txt
    - run: python setup.py install
    - run: pip install coveralls
    - run: coverage run --source=nvd3 setup.py test
    - run: coveralls
      if: "${{ success() }}"
#     # This item has no matching transformer
#     - email: true
    strategy:
      matrix:
        python: ["3.9", "3.10", "3.11"]
